:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #fcfdfd;
  --button-color: #3b3636;
  --h1-color: #3f444c;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 40vw;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10rem;
  padding: 1.5rem;
}

.header-link {
  display: flex;
  height: 4em;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-weight: 100;
  font-size: large;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  position: fixed;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

h1,
label,
button,
.description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  /* font-size: medium; */
  /* color: #fcfcfc; */
  letter-spacing: 0.1rem;
}

h1 {
  color: rgb(8, 94, 8);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {
  color: rgb(105, 113, 105);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label,
.description {
  color: rgb(185, 189, 185);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input,
textarea,
label {
  width: 40vw;
  display: block;
}

p,
placeholder,
input,
textarea {
  font-family: "Helvetica Neue", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color);
}

input,
textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

.back-link {
  display: flex;
  width: 10rem;
  height: 2.25rem;
  justify-content: center;
  padding-top: 4px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-weight: 100;
  color: #fafafa;
  background-color: rgb(5, 74, 5);
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;

  font-size: 20px;
}

a:hover {
  opacity: 0.5;
}

a,
a:visited {
  color: #fcfcfc;
  text-decoration: none;
  padding-top: 5px;
  font-size: 15px;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: rgb(7, 77, 7);
  color: var(--bg-color);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

input:hover,
textarea:hover,
button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.8;
}

.description {
  margin-left: 1.25rem;
}

#error,
#success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Jost";
  color: var(--secondary-color);
}

#success-msg {
  transition-delay: 3s;
}

@media only screen and (max-width: 950px) {
  .header-link {
    color: rgb(255, 255, 255);
    display: flex;
    height: 4em;
    width: fit-content;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    position: fixed;
  }

  .logo {
    width: 8rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input,
  textarea,
  button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.7rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }

  .back-link {
    display: flex;
    width: 7rem;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: auto;
    border-radius: 3px;
    cursor: pointer;
    float: inherit;
    margin-top: 1rem;
    color: #fafafa;
    background-color: rgb(5, 74, 5);
    font-family: "Jost", sans-serif;
    font-size: 20px;
  }

  a:hover {
    opacity: 0.5;
  }

  a,
  a:visited {
    color: #f2f2f2;
    text-decoration: none;
    padding-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
